@import 'node_modules/angular-material/angular-material.min.css';

@import 'local_modules/views/home/home.css';

html, body {
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;  
}

body {
    font-family: 'Bellefair', serif;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 22px;

    background-image: url('assets/background-vectors.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;  
}

a, a:link, a:active, a:hover {
    color: #26baff;
    text-decoration: none;
}

hr { 
    border: 0; 
    height: 1px; 
}
hr.blue {
    background-image: -webkit-linear-gradient(left, #f0f0f0, #26baff, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #26baff, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #26baff, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #26baff, #f0f0f0); 
}
hr.yellow {
    background-image: -webkit-linear-gradient(left, #f0f0f0, #ffd426, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #ffd426, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #ffd426, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #ffd426, #f0f0f0); 
}
hr.grey {
    background-image: -webkit-linear-gradient(left, #f0f0f0, #b9bbbc, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #b9bbbc, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #b9bbbc, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #b9bbbc, #f0f0f0); 
}

.blue-color {
    color: #26baff;
}

.yellow-color {
    color: #ffd426;
}

.grey-color {
    color: #b9bbbc;
}

.md-toolbar-tools {
    background: #b9bbbc;
}

md-dialog {
    background-image: url('assets/background-vectors-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
}

md-tabs .md-tab.md-active {
    color: #26baff;
}

md-tabs md-ink-bar {
    color:#26baff;
    background-color:#26baff;
}

md-tabs .md-tab:active .md-ripple-container {
    background-color: rgba(38, 186, 255, .1);
}

md-tabs .md-tab .md-ripple-container .md-ripple {
    background: #26baff;
    border-color: #26baff;
}

.md-button:not([disabled]):hover {
    background-color: rgba(50, 155, 255, .3);
    color: #000;
}

.md-button:not([disabled]):hover md-icon svg {
    fill: rgba(38, 186, 255, .9);
}


.nvtooltip {
    font-family: 'Bellefair', serif;
    letter-spacing: 1px;
    font-size: 13px;
    background-color: rgba(255,255,255, 0.9);
}

/* pulse  */
.pulse {
    border: 3px solid #26baff;
    border-radius: 30px;
    height: 48px;
    width: 48px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0;
}
@keyframes pulsate {
    0% { transform: scale(0.1, 0.1); opacity: 0; }
    50% { opacity: 1; }
    100% { transform: scale(1.2, 1.2); opacity: 0; }
}

/* CSS Loader */
.loader {
  width: 100%;
  height: 100%;

  /*  If flex wont work, loader would simply align center top...  */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cssload-container {
	width: 100%;
	height: 49px;
	text-align: center;
}

.cssload-speeding-wheel {
	width: 49px;
	height: 49px;
	margin: 0 auto;
	border: 3px solid rgb(38,186,255);
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 575ms infinite linear;
		-o-animation: cssload-spin 575ms infinite linear;
		-ms-animation: cssload-spin 575ms infinite linear;
		-webkit-animation: cssload-spin 575ms infinite linear;
		-moz-animation: cssload-spin 575ms infinite linear;
}

@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}