@import 'node_modules/angular-material/angular-material.min.css';

@import 'local_modules/views/home/home.css';

html, body {
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Bellefair', serif;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 22px;

    background-image: url('assets/background-vectors.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;

    background-color: #fff;

}

a, a:link, a:active, a:hover {
    color: #26baff;
    text-decoration: none;
}

.blue-color {
    color: #26baff;
}

.yellow-color {
    color: #ffd426;
}

.grey-color {
    color: #b9bbbc;
}

.md-toolbar-tools {
    background: #b9bbbc;
}

md-dialog {
    background-image: url('assets/background-vectors-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
}


/* CSS Loader */
.loader {
  width: 100%;
  height: 100%;

  /*  If flex wont work, loader would simply align center top...  */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cssload-container {
	width: 100%;
	height: 49px;
	text-align: center;
}

.cssload-speeding-wheel {
	width: 49px;
	height: 49px;
	margin: 0 auto;
	border: 3px solid rgb(38,186,255);
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 575ms infinite linear;
		-o-animation: cssload-spin 575ms infinite linear;
		-ms-animation: cssload-spin 575ms infinite linear;
		-webkit-animation: cssload-spin 575ms infinite linear;
		-moz-animation: cssload-spin 575ms infinite linear;
}

@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}