@import '../../components/ef-button/ef-button.css';

.ef-flying-menu-hamburger {
    position: fixed;
    /* top: 20px; */
    top: 50px;
    left: 20px;
/*     background-color: #fff; */

/*     opacity: 0.5; */
}
/*
.ef-flying-menu-hamburger:hover, .ef-flying-menu-hamburger:active {
    opacity: 1;
}
*/


/* Thanks to Erik Terwan ~ https://codepen.io/erikterwan/pen/EVzeRP */
.ef-flying-menu-hamburger .menu-toggle {
    display: block;
    position: relative;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}
.ef-flying-menu-hamburger .menu-toggle.invisible {
    display: none;
}

.ef-flying-menu-hamburger .menu-toggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}
.ef-flying-menu-hamburger .menu-toggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #b9bbbc;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.ef-flying-menu-hamburger .menu-toggle span:first-child {
    transform-origin: 0% 0%;
}

.ef-flying-menu-hamburger .menu-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

.ef-flying-menu-hamburger .menu-toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #b9bbbc;
}

.ef-flying-menu-hamburger .menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.ef-flying-menu-hamburger .menu-toggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

.ef-flying-menu-buttons {
    transition: all 1s ease;
}

.ef-flying-menu-buttons.closed {
    opacity: 0;
}

.ef-flying-menu-hamburger .static-menu-buttons {
    transition: all 1s ease;
    opacity: 0;  
}
.ef-flying-menu-hamburger .static-menu-buttons.visible {
     opacity: 1; 
}

.ef-flying-menu-hamburger .static-menu-buttons ef-button, .ef-flying-menu-hamburger .static-menu-buttons ef-button .ef-button, .ef-flying-menu-hamburger .static-menu-buttons ef-button .ef-button .md-button {
    display: block;
}

.ef-flying-menu-hamburger .static-menu-buttons ef-button .ef-button .md-button {
    margin-left: 0;
}

.static-menu-buttons .ef-button:hover {
    background: #fff;
}

/* circle displacement  */
/* Thanks Ana!!! - https://stackoverflow.com/questions/12813573/position-icons-into-circle  */
.ef-flying-menu-hamburger .circle-container {
    position: relative;
    width: 8em;
    height: 8em;
    /* padding: 2.8em; */
    /* border: dashed 1px; */
    border-radius: 50%;
    /* margin: 1.75em auto 0; */
    margin-top: -70px;
    margin-left: -26px;
}

.ef-flying-menu-hamburger .circle-container > * {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    /* width: 4em; height: 4em; */
    margin: -2em;
    transform: rotate(0) translate(0);
    transition: all 1s ease;
}

.ef-flying-menu-hamburger .static-menu-buttons.visible .deg0 { transform: translate(4em); } /* 12em = half the width of the wrapper */
.ef-flying-menu-hamburger .static-menu-buttons.visible .deg45 { transform: rotate(45deg) translate(4em) rotate(-45deg); }
.ef-flying-menu-hamburger .static-menu-buttons.visible .deg105 { transform: rotate(105deg) translate(4em) rotate(-105deg); }
.ef-flying-menu-hamburger .static-menu-buttons.visible .deg135 { transform: rotate(135deg) translate(4em) rotate(-135deg); }
.ef-flying-menu-hamburger .static-menu-buttons.visible .deg180 { transform: translate(-4em); }
.ef-flying-menu-hamburger .static-menu-buttons.visible .deg225 { transform: rotate(225deg) translate(4em) rotate(-225deg); }
.ef-flying-menu-hamburger .static-menu-buttons.visible .deg315 { transform: rotate(315deg) translate(4em) rotate(-315deg); }